.app-center{
    width: 100%;
    height: 1000px;
    
    &__app-image{
        width: 100%;
        height: 1000px;
    }
    &__img-back{
        width: 100%;
        height: 1000px;
        position: absolute;
    }
    &__box{
        width: 495px;
        height: 230px;
        border-radius: 15px;
        background: #000;
        opacity: 0.6;
        color: #fff;
        position: relative;
        top: 350px;
        left: 20px;
/*
        :hover{
            background: #000;
            opacity: 1;
        }
*/
        &__title{
            font-size: 26px;
            padding-top: 20px;
            text-align: center;
        }
        &__line{
            width: 445px;
            height: 0.3px;
            background: #ccc;
            opacity: 0.4;
            margin-left: 25px;
        }
        &__subtitle{
            font-size: 20px;
            text-align: center;
            margin: 20px 0px;
        }
        &__download-btn{
            width: 445px;
            height: 40px;
            background: #3f51b5;
            color: #fff;
            text-align: center;
            border-radius: 5px;
            margin-left: 20px;
            padding-top: 8px;
        }
        
        &__download-btn:hover{
            background: #ccc;
            color: #000;
        }
    }
    
    &__take-tour{
        width: 117px;
        height: 40px;
        background: #000;
        color: #fff;
        border-radius: 6px;
        text-align: center;
        position: relative;
/*        padding-top: 2px;*/
        line-height: 2.6;
        left: 1367px;
        top: 150px;
        
        &__tour-text{
            font-size: 15px;
        }
    }
}
.app-center__take-tour:hover{
    background: #fff;
    color: #000;
    cursor: pointer;
}
.app-center__box:hover{
    background: #000;
    opacity: 1;
}











