.the-app-section{
    width: 100%;
    height: 590px;
    background: #fff;
    display: grid;
    grid-template-columns: 3fr 1fr;
    
    &__left-section{
/*        width: 1150px;*/
        width: 980px;
        height: 590px;
        padding-left: 20px;
    }
    
    &__title{
        font-size: 60px;
        font-weight: bold;
        text-align: left;
        padding-left: 20px;
        padding-top: 90px;
    }
    &__subtitle{
        font-size: 50px;
        font-weight: bold;
        color: #4CAF50;
        text-align: left;
        padding-left: 20px;
        padding-top: 20px;
    }
    &__content{
        text-align: left;
        font-size: 1rem;
        color: #000;
    }
    &__txt-bold{
        font-weight: 500;
        font-size: 1.5rem;
    }
    &__download-btn2{
        margin-top: 35px;
        width: 245px;
        height: 50px;
        background: #F1F1F1;
        text-align: center;
        line-height: 2.7; 
    }
    &__available{
        width: 400px;
        height: 30px;
        padding-top: 35px;
        font-weight: 400;
        
        span{
            font-size: 25px;
        }
    }
    
     &__right-section{
        right: 20px;
        width: 359px;
        height: 590px;
         padding-top: 63px;
        
        &__img-sizing{
            width: 359px;
            height: 460px;
        }
    }
    
    &__download-btn2:hover{
        background: #ccc; 
    }
}
